<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vial Keyboard Firmwares</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/foundation-icons.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>Vial Keyboard Firmwares</h1>
          <div class="callout primary">
          <p>These firmwares have been compiled at <i class="fi-calendar"></i>&nbsp;{{ "{:%Y-%m-%d %H:%M}".format(render_time) }} by using <a href="{{ commit_address }}"><i class="fi-info"></i>&nbsp;revision&nbsp;{{ commit_ref }}</a>.</p>
          <p>This project has no official affiliation to Vial.
          It aims at showing current working rules for Vial firmwares and to make up-to-date firmwares available to the public.
          You are using them at your own risk.
          If you are able to compile your own firmwares it is strongly suggested to do so and use them instead.</p>
          <h2>Flashing</h2>
          <p>Save them with <strong>Right Click → Save As</strong> on your computer and flash them onto your board.</p>
          <p>An easy way to flash is by using <a href="https://github.com/qmk/qmk_toolbox">QMK Toolbox</a>.</p>
          </div>
          <div>
          </div>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <table>
            <thead style="position: sticky; inset-block-start: 0;">
              <tr>
                <th>Keyboard</th>
                <th>Firmware Configuration</th>
                <th>Firmware</th>
              </tr>
            </thead>

            <tbody>
            {% for keeb in keyboards %}
            <tr id="{{ keeb.identifier }}">
              <td>
                <ul class="no-bullet">
                {% if keeb.manufacturer %}
                  <li>Maker: <strong>{{ keeb.manufacturer }}</strong></li>
                {% endif %}
                  <li>Model: <strong>{{ keeb.model }}</strong></li>
                {% if keeb.variant %}
                  <li>Variant: <strong>{{ keeb.variant }}</strong></li>
                {% endif %}
                {% if keeb.version %}
                  <li>Version: <strong>{{ keeb.version }}</strong></li>
                {% endif %}
                </ul>

                <p><small><em><a href="#{{ keeb.identifier }}">Permalink&nbsp;<i class="fi-link"></i></a></em></small></p>
              </td>
              <td>
<p class="code-block">{% for key, value in keeb.settings.items() -%}
{{ key }} = {{ value }}
{% endfor %}</p>
              </td>
              <td>
              {% if keeb.build.success %}
                <a href="{{ keeb.build.firmware_path }}" class="button" download><i class="fi-download"></i>&nbsp;{{ keeb.build.firmware_filename }}</a>

                <details>
                  <summary>Checksums</summary>
                  <ul>
                  {% for name, checksum in keeb.build.checksums.items() %}
                    <li>{{ name }}: <span class="code-inline">{{ checksum }}</span></li>
                  {% endfor %}
                  </ul>
                </details>

              {% else %}
                <p class="clear button disabled">No Firmware</p>
              {% endif %}

              <details>
                <summary>Build log</summary>
<p class="code-block">{% for line in keeb.build.logs -%}
{{ line }}
{% endfor %}</p>
              </details>

              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <footer class="text-center">
      <p>Built with <a href="https://gitlab.com/okin/vial-qmk-firmwares">gitlab.com/okin/vial-qmk-firmwares</a>.</p>
    </footer>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
